# Git Flow Files
gitflow/

# Emacs Files
*~
*\#*

# Compiled Python Files
*.pyc

# Virtual Env
venv/

# Django Files
*db.sqlite3*
media/*
static_root/*

# Weird Mac Files
*.DS_STORE*

# Webpacks
node_modules/
*webpack_bundles/
apda/webpack-stats.json

# Whoosh
apda/whoosh_index/

#compile-cache
v8-compile-cache-0/

# backups
backup.sql

# logs
*.log

# env
.env