{% extends "base/detail.html" %}
{% load tags %}
{% block title %}
    {{ object }}
{% endblock title %}
{% block detail_view %}
    <table class="table table-bordered">
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>APDA member?</td>
                <td>{{ object.included_in_oty|yesno:"Yes,No" }}</td>
            </tr>
        </tbody>
    </table>
{% endblock detail_view %}
{% block left_column %}
    {% if cotys|length > 0 %}
        <div class="card mb-2 shadow-lg rounded-l5">
            <div class="card-body">
                <h5 class="card-title">COTY</h5>
                <hr />
                <table class="table table-hover">
                    <thead>
                        <th>Place</th>
                        <th>Season</th>
                        <th>Points</th>
                    </thead>
                    <tbody>
                        {% for coty in cotys %}
                            <tr>
                                <td>{{ coty.place }}</td>
                                <td>
                                    <a href="{% url 'core:index' %}?season={{ coty.season }}&default=coty">{{ coty.get_season_display }}</a>
                                </td>
                                <td>{{ coty.points|number }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="card mb-2 shadow-lg rounded-l5">
        <div class="card-body">
            <h5 class="card-title">Hosted Tournaments</h5>
            <hr />
            <table class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Season</th>
                </thead>
                <tbody>
                    {{ object.host }}
                    {% for tournament in tournaments %}
                        <tr>
                            <td>
                                <a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
                            </td>
                            <td>{{ tournament.date|date:"M j" }}</td>
                            <td>{{ tournament.get_season_display }}</td>
                        </tr>
                    {% empty %}
                        <tr class="shaded">
                            <td colspan="3">
                                <center>This school has not hosted any tournaments!</center>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock left_column %}
{% block added_information_view %}
    <div class="card shadow-lg rounded-l5">
        <div class="card-body">
            <h5 class="card-title text-white">
                <ul class="nav nav-pills nav-fill" id="school_info_pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if default == 'members' %}active{% endif %}" id="_members" data-toggle="tab" href="#members">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if default == 'coty' %}active{% endif %}" id="_COTY" data-toggle="tab" href="#coty">COTY Breakdown</a>
                    </li>
                </ul>
            </h5>
            <div class="tab-content" id="school_info">
                <div class="tab-pane fade {% if default == 'members' %}active show{% endif %}" id="members" role="tabpanel">
                    <h5>
                        <ul class="nav nav-pills float-right pb-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active"
                                   data-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    {% for season in seasons %}
                                        {% if season.0 == current_season %}{{ season.1 }}{% endif %}
                                    {% endfor %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% for season in seasons %}
                                        <a class="dropdown-item {% if season.0 == current_season %}active{% endif %}"
                                           href="{{ request.path }}?season={{ season.0 }}&default=members">{{ season.1 }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </h5>
                    <table class="table table-hover">
                        <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Year on Team</th>
                        </thead>
                        <tbody>
                            {% for debater in debaters %}
                                <tr>
                                    <td>{{ debater.id }}</td>
                                    <td>
                                        <a href="{{ debater.get_absolute_url }}?season={{ request.GET.season }}">{{ debater.name }}</a>
                                    </td>
                                    <td>{{ request.GET.season|years_on_team:debater.first_season }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade {% if default == 'coty' %}active show{% endif %}" id="coty" role="tabpanel">
                    <h5>
                        <ul class="nav nav-pills float-right pb-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active"
                                   data-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    {% for season in seasons %}
                                        {% if season.0 == current_season %}{{ season.1 }}{% endif %}
                                    {% endfor %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% for season in seasons %}
                                        <a class="dropdown-item {% if season.0 == current_season %}active{% endif %}"
                                           href="{{ request.path }}?season={{ season.0 }}&default=coty">{{ season.1 }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </h5>
                    <table class="table table-hover">
                        <thead>
                            <th>ID</th>
                            <th>Debater</th>
                            <th>Points (Contribution)</th>
                            <th>Auto-Quals</th>
                        </thead>
                        <tbody>
                            {% for debater in quals %}
                                <tr>
                                    <td>{{ debater.debater.id }}</td>
                                    <td>
                                        {% if debater.qualled %}<b>{% endif %}
                                            <a href="{{ debater.debater.get_absolute_url }}?season={{ request.GET.season }}">{{ debater.debater.name }}</a>
                                            {% if debater.qualled %}*</b>{% endif %}
                                    </td>
                                    <td>{{ debater.points|number }} ({{ debater|qual_contribution:current_season|number }})</td>
                                    <td>{{ debater.debater|qual_display:current_season }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock added_information_view %}
