{% load crispy_forms_tags %}
<tr class="formset-row" data-form-index="{{ form_index }}">
    <td class="place-number">
        <strong class="place-display">{{ place_number }}</strong>
    </td>
    <td class="drag-handle">
        <i class="fas fa-grip-vertical text-muted" style="cursor: move;"></i>
    </td>
    <td class="form-fields">
        {% if form.ORDER %}{{ form.ORDER }}{% endif %}
        {% if form.DELETE %}{{ form.DELETE }}{% endif %}
        {% if form_type == 'team' %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.debater_one|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.debater_two|as_crispy_field }}
                </div>
            </div>
            {{ form.ghost_points|as_crispy_field }}
        {% else %}
            {{ form.speaker|as_crispy_field }}
            {{ form.tie|as_crispy_field }}
        {% endif %}
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-sm delete-form" data-form-index="{{ form_index }}">
            <i class="fas fa-trash"></i>
        </button>
    </td>
</tr>
