{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row mt-5 mb-5 mr-2 ml-2">
        {% block root_data_entry %}
            <div class="col-12">
                {{ wizard.form.media }}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title pb-2">
                            {{ title }}
                            <div class="float-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</div>
                        </h5>
                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            {% include "tournaments/step_navigator.html" %}
                            {% block data_entry_block %}
                                {% if wizard.form.forms %}
                                    {{ wizard.form.management_form }}
                                    {% for form in wizard.form.forms %}{{ form|crispy }}{% endfor %}
                                {% else %}
                                    {{ wizard.form|crispy }}
                                {% endif %}
                            {% endblock data_entry_block %}
                            <input type="submit"
                                   class="btn btn-primary float-right"
                                   value="Save and Continue" />
                            {% if wizard.steps.prev %}
                                <button name="wizard_goto_step"
                                        type="submit"
                                        class="btn btn-outline-secondary float-right mr-2"
                                        value="{{ wizard.steps.prev }}">Prev</button>
                                <button name="wizard_goto_step"
                                        type="submit"
                                        class="btn btn-outline float-right mr-2"
                                        value="{{ wizard.steps.first }}">First</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        {% endblock root_data_entry %}
{% endblock content %}
