{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row mt-5 mb-5 mr-2 ml-2">
        <div class="col-lg-8">
            {{ wizard.form.media }}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title pb-2">
                        {{ title }}
                        <div class="float-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</div>
                    </h5>
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {{ wizard.form.management_form }}
                        
                        <div class="formset-controls">
                            <button type="button" class="btn btn-success btn-sm" id="add-form-btn">
                                <i class="fas fa-plus"></i> Add {{ step_config.name }}
                            </button>
                            <small class="text-muted">Drag rows to reorder {{ step_config.name|lower }}s</small>
                        </div>

                        <div class="table-responsive" id="formset-container" 
                             data-max-forms="250"
                             data-form-type="{{ step_config.type }}"
                             data-has-ghost-points="{% if step_config.has_ghost_points %}1{% else %}0{% endif %}"
                             data-item-name="{{ step_config.name }}"
                             data-ajax-url="{% url 'core:get_new_team_form' %}">
                            <table class="table table-bordered" id="formset-table">
                                <thead>
                                    <tr>
                                        <th width="60">Place</th>
                                        <th width="40">Drag</th>
                                        <th>{{ step_config.name }} Details</th>
                                        <th width="80">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="sortable-formset">
                                    {% for form in wizard.form.forms %}
                                        {% with form=form form_index=forloop.counter0 place_number=forloop.counter %}
                                            {% with field_rows=step_config.field_rows extra_fields=step_config.extra_fields %}
                                                {% with item_name=step_config.name hidden_fields=step_config.hidden_fields %}
                                                    {% include "tournaments/includes/formset_row.html" %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>



                        <input type="submit"
                               class="btn btn-primary float-right"
                               value="Save and Continue" />
                        {% if wizard.steps.prev %}
                            <button name="wizard_goto_step"
                                    type="submit"
                                    class="btn btn-outline-secondary float-right mr-2"
                                    value="{{ wizard.steps.prev }}">Prev</button>
                            <button name="wizard_goto_step"
                                    type="submit"
                                    class="btn btn-outline float-right mr-2"
                                    value="{{ wizard.steps.first }}">First</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card sticky-top mb-2" style="top: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Create Debater</h5>
                    <a href="{% url 'core:school_create' %}" target="_blank">Create new school</a>
                    <hr />
                    <form id="debater_create_form">
                        {% csrf_token %}
                        <input type="hidden" name="ajax" value="1">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="textinput textInput form-control" id="id_name">
                        </div>
                        {{ debater_form.school|as_crispy_field }}
                        <input class="btn btn-primary"
                            id="create_debater"
                            value="Create"
                            type="submit">
                    </form>
                </div>
            </div>
            <div class="card sticky-top" style="top: 369px;">
                <div class="card-body">
                    <h5 class="card-title">Created Debaters</h5>
                    <ul id="new_debaters">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
