{% if wizard.steps.count > 2 %}
<div class="step-navigator mb-3">
    <div class="row">
        {% for step_number in "01234567" %}
            {% if forloop.counter0 < wizard.steps.count %}
            <div class="col">
                <button name="wizard_goto_step" 
                        type="submit" 
                        value="{{ step_number }}"
                        class="btn btn-sm w-100 
                               {% if wizard.steps.current == step_number %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                    <small>{{ step_number|add:'1' }}. 
                    {% if step_number == '0' %}Tournament
                    {% elif step_number == '1' %}Details  
                    {% elif step_number == '2' %}Debaters
                    {% elif step_number == '3' %}V Teams
                    {% elif step_number == '4' %}V Speakers
                    {% elif step_number == '5' %}N Teams
                    {% elif step_number == '6' %}N Speakers
                    {% elif step_number == '7' %}Unplaced
                    {% endif %}</small>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
