<ul class="nav nav-tabs" id="dataEntryTabs" role="tablist">
    {% if show_school_tab %}
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'schools' %}active{% endif %}"
           id="schools-tab" 
           data-toggle="tab" 
           href="#schools-pane" 
           role="tab">
            Schools
        </a>
    </li>
    {% endif %}
    {% if show_debater_tab %}
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'debaters' %}active{% endif %}"
           id="debaters-tab" 
           data-toggle="tab" 
           href="#debaters-pane" 
           role="tab">
            Debaters
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'varsity_teams' %}active{% endif %}"
           id="varsity_teams-tab" 
           data-toggle="tab" 
           href="#varsity_teams-pane" 
           role="tab">
            Varsity Teams
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'varsity_speakers' %}active{% endif %}"
           id="varsity_speakers-tab" 
           data-toggle="tab" 
           href="#varsity_speakers-pane" 
           role="tab">
            Varsity Speakers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'novice_teams' %}active{% endif %}"
           id="novice_teams-tab" 
           data-toggle="tab" 
           href="#novice_teams-pane" 
           role="tab">
            Novice Teams
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'novice_speakers' %}active{% endif %}"
           id="novice_speakers-tab" 
           data-toggle="tab" 
           href="#novice_speakers-pane" 
           role="tab">
            Novice Speakers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'unplaced_teams' %}active{% endif %}"
           id="unplaced_teams-tab" 
           data-toggle="tab" 
           href="#unplaced_teams-pane" 
           role="tab">
            Non-placing Teams
        </a>
    </li>
</ul>
