{% load crispy_forms_tags %}
<tr class="formset-row" data-form-index="{{ form_index }}">
    <td class="place-number text-center">
        {{ place_number }}
    </td>
    <td class="drag-handle text-center" style="cursor: move;">
        <i class="fas fa-grip-vertical text-muted"></i>
    </td>
    <td class="form-fields">
        {% include "tournaments/includes/form_fields.html" with form=form form_type=form_type has_ghost_points=has_ghost_points %}
    </td>
    <td class="text-center">
        <button type="button" 
                class="btn btn-danger btn-sm delete-form"
                data-form-index="{{ form_index }}"
                title="Delete {{ item_name }}">
            <i class="fas fa-trash"></i>
        </button>
    </td>
</tr>
