{% extends "base/create.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row mt-5 mb-5 mr-2 ml-2">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title pb-2">Create Video</h5>
                    {% crispy form %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card sticky-top mb-2" style="top: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Create Debater</h5>
                    <a href="{% url 'core:school_create' %}" target="_blank">Create new school</a>
                    <hr />
                    <form id="debater_create_form">
                        {% csrf_token %}
                        <input type="hidden" name="ajax" value="1">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="textinput textInput form-control" id="id_name">
                        </div>
                        {{ debater_form.school|as_crispy_field }}
                        <input class="btn btn-primary"
                               id="create_debater"
                               value="Create"
                               type="submit">
                    </form>
                </div>
            </div>
            <div class="card sticky-top" style="top: 369px" px;">
                <div class="card-body">
                    <h5 class="card-title">Created Debaters</h5>
                    <ul id="new_debaters">
                    </ul>
                </div>
            </div>
        </div>
{% endblock content %}
