{% for button in buttons %}
    {% if button.perm and button.perm in perms %}
	{% if button.include_pk %}
	    <a href="{% url button.href object.id %}" class="btn btn-sm float-right mr-1 {{ button.class }}">{{ button.name }}</a>
	{% else %}
	    <a href="{{ button.href }}" class="btn btn-sm float-right mr-1 {{ button.class }}">{{ button.name }}</a>
	{% endif %}
    {% else %}
	{% if button.include_pk %}
	    <a href="{% url button.href object.id %}" class="btn btn-sm float-right mr-1 {{ button.class }}">{{ button.name }}</a>
	{% else %}
	    <a href="{{ button.href }}" class="btn btn-sm float-right mr-1 {{ button.class }}">{{ button.name }}</a>
	{% endif %}
    {% endif %}
{% endfor %}
