<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        {% load render_bundle from webpack_loader %}
        {% render_bundle 'main' %}
        <script src="https://kit.fontawesome.com/79126da965.js"
                crossorigin="anonymous"></script>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <title>
            {% block title %}
                APDA Results
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "base/_nav.html" %}
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
