{% extends "base/base.html" %}
{% block content %}
    <div class="row mt-lg-5 ml-lg-2 mr-lg-2 mb-lg-5 m-1">
        <div class="col-lg-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ object }}
                        {% include "base/_buttons.html" %}
                        {% block extra_buttons %}
                        {% endblock extra_buttons %}
                    </h5>
                    <hr />
                    {% block detail_view %}
                        In Progress
                    {% endblock detail_view %}
                </div>
            </div>
            {% block left_column %}
            {% endblock left_column %}
        </div>
        <div class="col-lg-8">
            {% block added_information_view %}
                In Progress
            {% endblock added_information_view %}
        </div>
    </div>
{% endblock content %}
