{% extends 'base/detail.html' %}

{% block title %}{{ object }}{% endblock %}

{% block detail_view %}
    <table class="table table-bordered">
	<thead>
	    <th>Field</th>
	    <th>Value</th>
	</thead>
	<tbody>
	    <tr>
		<td>ID</td>
		<td>{{ object.id }}</td>
	    </tr>
	    <tr>
		<td>Name</td>
		<td>{{ object.name }}</td>
	    </tr>
	    <tr>
		<td>Debaters</td>
		<td>
		    <ul>
			{% for debater in object.debaters.all %}
			    <li>{{ debater.name }} ({{ debater.school.name }})</li>
			{% endfor %}
		    </ul>
		</td>
	    </tr>
	</tbody>
    </table>
{% endblock %}
